---
import Layout from "../layouts/Layout.astro";
import "../styles/globals.css";
import GridProject from "../components/GridProject";
import Header from "../components/Header";
import ImgBanner from "../components/illustrations/ImgBanner.astro";
import ImgMe from "../components/illustrations/ImgMe.astro";
import ImgCub3D from "../components/illustrations/ImgCub3d.astro";
import ImgMinishell from "../components/illustrations/ImgMinishell.astro";
import ImgWeather from "../components/illustrations/ImgWeather.astro";
---

<Layout title="Welcome to Rasaboun.me">
  <div class="flex flex-col w-screen">
    <Header />
    <GridProject>
      <ImgBanner slot="imgbanner" />
      <ImgMe slot="imgme" />
      <ImgCub3D slot="imgcub3d" />
      <ImgMinishell slot="imgminishell" />
      <ImgWeather slot="imgweather"/>
    </GridProject>
  </div>
</Layout>
