
---
interface Props {
	title: string;
}
import { ViewTransitions } from "astro:transitions";
import "../styles/globals.css";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<script is:inline defer data-domain="www.rasaboun.me" src="/umami/js/script.js" data-host-url="https://analytics.eu.umami.is" data-website-id="9f2b5b18-5ec6-4d56-a29e-ac84e894a8d3"></script>
		<ViewTransitions fallback="swap"/>
		<meta charset="UTF-8" />
		<meta name="description" content="Rasaboun Portfolio" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png">
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		
	</head>
	<body class="">
		
		<slot />
	</body>
</html>

